.pontoTuristico {
    padding: 12px;
    border: 1px solid var(--cor-cinza);
    border-radius: 8px;

    width: 360px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.categoria {
    color: var(--cor-branca);
    font-weight: 500;
    background-color: var(--cor-contraste);
    width: fit-content;
    font-size: var(--texto-minusculo);
    padding: 4px 12px;
    border-radius: 100px;
}

.descricao {
    color: var(--cor-cinza);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.enderecoContainer {
    display: flex;
    align-items: flex-start;
    gap: 2px;

    svg {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        path {
            fill: #de4032;
        }
    }
}

.verDetalhes {
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: var(--texto-pequeno);
    color: var(--cor-branca);
    background-color: var(--cor-secundaria);
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        background-color: var(--cor-primaria);
    }
}